.explorer {
	overflow-y: auto;
	background-color: var(--bg-editor-inactive);
	color: var(--fg-editor);
	padding: var(--padd);
	height: 100%;


	section {
		margin-bottom: 10px;
		overflow-x: hidden;

		.title {
			background: var(--bg-editor-indent);
			border: 1px solid var(--bg-editor-indent-active);
			padding: 2px 5px;
			font-size: 75%;
			margin-bottom: 5px;
		}
	}
}
