.wrapper {
	display: grid;
	grid-template-columns: auto max-content;
	background: var(--bg-editor-inactive);
}

.toast {
	padding: 0 20px;
	display: grid;
	border-radius: 6px;
	margin: 4px;
	place-items: center;

	&.success {
		background: greenyellow;
		color: black
	}

	&.error {
		background: rgb(228, 84, 84);
		color: black;
	}

	p {
		margin: 0;
		padding: 0;
	}
}

.toolbar {

	display: grid;
	grid-template-columns: repeat(auto-fit, 18px);
	color: #333;
	gap: var(--padd);
	padding: var(--padd);

	.item {
		grid-column: span 2;
	}
}
